body{
	overflow-x: hidden;
}
.done {
	color: #777777;
	text-decoration: line-through;
}
.DoneToDo,.PendingToDo,.AddToDo {
    left: 22px;
}
.glyphicon{
	cursor: pointer;
}
.myclass {
   left: 5%;
    height: 30px;
    /* padding-top: 12px; */
    width: 84px;
    background: #0064FF;
    padding: 5px;
    text-align: center;
    color: white;
    margin: 15px;
    
}
.mydroppable {
    position: relative;
    min-height: 50px;
    width: 97%;
    background: #91C6F5;
    display: inline-block;
    border: 2px dotted black;
    margin: 11px;
}