body{
	overflow-x: hidden;
}
.done {
	color: #777777;
	text-decoration: line-through;
}
.DoneToDo,.PendingToDo,.AddToDo {
    left: 22px;
}
.glyphicon{
	cursor: pointer;
}
.myclass {
   left: 5%;
    height: 30px;
    /* padding-top: 12px; */
    width: 84px;
    background: #0064FF;
    padding: 5px;
    text-align: center;
    color: white;
    margin: 15px;
    float: left;
    
}
.mydroppable {
    position: relative;
    min-height: 50px;
    width: 97%;
    background: #91C6F5;
    display: inline-block;
    border: 2px dotted black;
    margin: 11px;
}
.redroppable {
    overflow: auto;
}
.panel {
    width: 84%;
}
.customform {
    position: relative;
    margin: 12px;
    padding: 24px;
    border: 2px dotted black;
    background: #0F886D;
    color: white;
}
.text {
    position: absolute;
    top: 2px;
}
.close {
    position: relative;
    top: -16px;
    left: 16px;
    color: blanchedalmond;
}
.ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em; 
    background: black;
}
/* .ui-sortable-placeholder {
  border: 1px dotted black; 
  visibility: visible !important;
   }*/